<ix-application-header>
    <placeholder-logo slot="logo">
        <a
            hx-push-url="true"
            hx-trigger="click"
            hx-get="/"
            hx-target="#content"

            href="/">
            <h3>I-Psi-Tec</h3>
        </a>
    </placeholder-logo>

    <ix-avatar username="{{ cookie.username }}" extra="{{ cookie.role }}">
        <ix-dropdown-item label="Settings"></ix-dropdown-item>
        <ix-dropdown-item
            hx-push-url="/"
            hx-trigger="click"
            hx-get="/auth/logout"
            hx-target="body"
            hx-swap="transition:true" 

            label="Logout"></ix-dropdown-item>
    </ix-avatar>

    <ix-dropdown-button variant="secondary" label="theme" ghost>

        <ix-dropdown-item icon="moon" label="Dark" class="me-2">
            <script type="module">
            import { themeSwitcher } from '/public/assets/@siemens/ix/dist/index.js';

            me('ix-dropdown-item[icon="moon"]')
                .on('click', () => { 
                    themeSwitcher.setTheme('theme-classic-dark');
                    localStorage.setItem('theme', 'dark');

                    me('body')
                        .removeClass('bg-dark', 'bg-light')
                        .addClass('bg-dark');
                })
            </script>
        </ix-dropdown-item>

        <ix-dropdown-item icon="sun" label="Light" class="me-2">
            <script type="module">
            import { themeSwitcher } from '/public/assets/@siemens/ix/dist/index.js';

            me('ix-dropdown-item[icon="sun"]')
                .on('click', () => { 
                    themeSwitcher.setTheme('theme-classic-light');
                    localStorage.setItem('theme', 'light');

                    me('body')
                        .removeClass('bg-dark', 'bg-light')
                        .addClass('bg-light');
                })
            </script>
        </ix-dropdown-item>

        <ix-dropdown-item icon="code" label="System" class="me-2">
            <script type="module">
            import { themeSwitcher } from '/public/assets/@siemens/ix/dist/index.js';
            const preferredTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

            me('ix-dropdown-item[icon="code"]')
                .on('click', () => { 
                    themeSwitcher.setTheme(preferredTheme === 'dark' ? 'theme-classic-dark' : 'theme-classic-light')
                    localStorage.setItem('theme', 'auto');

                    me('body')
                        .removeClass('bg-dark', 'bg-light')
                        .addClass(preferredTheme === 'dark' ? 'bg-dark' : 'bg-light');
                })
            </script>
        </ix-dropdown-item>

    </ix-dropdown-button>
</ix-application-header>
