<ix-pane-layout
    class="d-none"
    variant="floating"
    layout="full-vertical"
    id="pane-layout">

    <ix-pane heading="Preview" slot="right" size="420px">
        <style>
        #iframe {
            position: relative;
            left: 0;
            width: 105%;
            height: 95%;
            border: none;
        }

        .mobile-phone {
            width: 300px;
            height: 600px;
            position: relative;

            margin: auto;
            padding: 10px 10px 12px;

            background: var(--theme-color-1);

            border-radius: 40px;
            box-shadow: var(--theme-shadow-4);
        }

        .screen {
            width: 100%;
            height: 100%;

            /* background-image: url('https://w.wallhaven.cc/full/6q/wallhaven-6q69wl.png'); */
            background-image: url('https://wallpapers.hector.me/wavey/Rainbow%20iPhone%20P3.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            border-radius: 30px;
            overflow: hidden;
        }

        .brove {
            width: 120px;
            height: 22px;

            position: absolute;
            top: 0;
            left: calc(50% - 60px);

            background: var(--theme-color-1);
            border-radius: 0 0 20px 20px;
            z-index: 1;
        }

        .speaker {
            display: block;

            width: 20px;
            height: 4px;

            margin: 0 auto;
            margin-top: 10px;

            background: #d2d2d2;
            border-radius: 20px;
        }

        .button-bar {
            width: 100%;
            height: 60px;
            position: absolute;
            bottom: 0;
            left: 0;

            background: var(--theme-color-1);
            border-radius: 0 0 30px 30px;
        }

        .app-icon {
            /*   display: block; */
            position: absolute;
            top: calc(50% - 25px);
            left: calc(50% - 25px);

            width: 50px;
            height: 50px;

            margin: 0 auto;
        }

        .app-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        .back-icon {
            display: block;

            position: absolute;
            bottom: 10px;
            left: calc(20% - 20px);

            width: 40px;
            height: 40px;
            margin: 0 auto;
        }

        .back-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        </style>

        <div class='mobile-phone'>
            <div class='brove'><span class='speaker'></span></div>
            <div class='screen'>

                <!-- <div id='phone-icon' class='app-icon'><img src='https://cdn-icons-png.flaticon.com/512/25/25231.png' alt='icon' /></div> -->
                <ix-card class="app-icon" variant="neutral">
                    <ix-icon id="phone-icon" style="width: 50px; height: 50px; color: var(--theme-color-4);"
                        name="rocket"></ix-icon>
                </ix-card>
                <script>
                document.getElementById('phone-icon').addEventListener('click', () => {
                    const iframe = document.getElementById('iframe');
                    iframe.classList.toggle('d-none');
                });
                </script>

                <iframe
                    id='iframe'
                    class="d-none"
                    src='https://getbootstrap.com/'
                ></iframe>

                <!-- need a buttom bar with a botton to go back -->

            </div>

            <div class='button-bar'></div>
            <ix-icon id="back-icon" name="arrow-left" class='back-icon'></ix-icon>
            <script>
            document.getElementById('back-icon').addEventListener('click', () => {
                const iframe = document.getElementById('iframe');
                iframe.classList.add('d-none');
            });
            </script>
        </div>

    </ix-pane>
</ix-pane-layout>
