---
layout: main.webc
---

{% if not no_header %}
  <qa-ent-header
    header-title="Show: {{ emia.ref }}"
    url-back-button="{{ url_for('resources.emias') }}"></qa-ent-header>
{% endif %}

{% set uid = gen_uid() %}
<qa-ent-details
  self-uid="{{ uid }}"
  self-contained="{{ no_header }}"
  action="{{ url_for('resources.emias.details', {id: emia.id}) }}"
  >
  <ix-key-value-list
    slot="meta"
    class="d-block rounded-3 p-2">
    <ix-key-value
      class="fw-bold"
      label-position="left"
      label="id"
      value="{{ emia.id }}">
    </ix-key-value>

    <ix-key-value
      class="fw-bold"
      label-position="left"
      label="ref"
      value="{{ emia.ref }}">
    </ix-key-value>

    <ix-key-value
      class="fw-bold"
      label="description"
      value="{{ emia.description }}">
    </ix-key-value>
  </ix-key-value-list>

  <div
    slot="content"
    class="mt-3">
    <ix-tabs class="rounded-top rounded-top-3">
      {% for slide in emia.slides %}
        <ix-tab-item data-tab-id="{{ slide }}"> Pantalla: {{ loop.index }} </ix-tab-item>
      {% endfor %}
    </ix-tabs>

    {% for slide in emia.slides %}
      <div
        class="p-2 rounded-bottom"
        data-tab-content="{{ slide }}">
        <div
          hx-push-url="false"
          hx-trigger="load"
          hx-get="{{ url_for('resources.slides.details', {id: slide}) }}?no_header=1"
          hx-target="this">
          {{ slide }}
        </div>
      </div>
    {% endfor %}

    <script webc:keep>
      me().run((el) =>
        typeof tabs_content === 'function'
          ? tabs_content(el, false)
          : onloadAdd((_) => tabs_content(el, false)),
      )
    </script>
  </div>
</qa-ent-details>

{#
<div
  id="emia-slide"
  hx-push-url="false"
  hx-trigger="load"
  hx-get="{{ url_for('resources.slides.details', {id: emia.slides[0]}) }}?no_header=1"
  hx-target="this"
  hx-swap="transition:true">
  {{ emia.slides[0] }}
</div>
#}

<script
  :src="getBundleFileUrl('js', 'file')"
  type="module"
  webc:keep></script>
