---
layout: main.webc
---

{% if not no_header %}
  <qa-ent-header
    header-title="Show: {{ emia.ref }}"
    url-back-button="/"></qa-ent-header>
{% endif %}

<ix-layout-grid gap="8">
  <ix-row>
    <ix-col size="9">
      <qa-ent-details
        self-uid=""
        self-contained="{{ no_header }}"
        action="">
        <ix-key-value-list
          slot="meta"
          class="d-block rounded-3 p-2">
          <ix-key-value
            class="fw-bold"
            label-position="left"
            label="id"
            value="{{ emia.id }}">
          </ix-key-value>

          <ix-key-value
            class="fw-bold"
            label-position="left"
            label="ref"
            value="{{ emia.ref }}">
          </ix-key-value>

          <ix-key-value
            class="fw-bold"
            label-position="left"
            label="description"
            value="{{ emia.description }}">
          </ix-key-value>
        </ix-key-value-list>

        <ix-key-value-list
          slot="content"
          class="d-block rounded-3 p-2">
          <div
            id="emia-slide"
            hx-push-url="false"
            hx-trigger="load"
            hx-get="{{ url_for('resources.slides.details', {id: emia.slides[0]}) }}?no_header=1"
            hx-target="this"
            hx-swap="transition:true">
            {{ emia.slides[0] }}
          </div>
        </ix-key-value-list>
      </qa-ent-details>
    </ix-col>

    <ix-col>
      <ul
        style="
          margin-top: 0.5rem;
          padding: 1rem;
          list-style-type: none;
          background-color: var(--theme-color-lightbox);
          border-radius: 0.5rem;
          ">
        {% for slide in emia.slides %}
          <li
            class="fw-bold"
            hx-push-url="false"
            hx-trigger="click"
            hx-get="{{ url_for('resources.slides.details', {id: slide}) }}?no_header=1"
            hx-target="#emia-slide"
            hx-swap="transition:true">
            Pantalla: {{ loop.index }}
          </li>
        {% endfor %}
      </ul>
    </ix-col>
  </ix-row>
</ix-layout-grid>

<script
  :src="getBundleFileUrl('js', 'file')"
  type="module"
  webc:keep></script>
