{% extends 'shared/layouts/details.html' %}

{% from '/shared/macros.html' import locale_filter %}

{% set entity_id = media.id %}
{% set entity_name = media.ref %}
{% set url_base = url_for('media') %}

{% block meta %}
  <ix-key-value-list class="d-block rounded-3 p-2">
    {% if media.id %}
      <ix-key-value class="fw-bold" label-position="left" value="{{ media.id }}" label="id">
      </ix-key-value>
    {% endif %}

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="reference">
      <input
        slot="custom-value"
        {% if not edit %}readonly{% endif %}
        name="ref"
        value="{{ media.ref }}"
        placeholder="Enter slug" />
    </ix-key-value>

    <ix-key-value orientation="vertical" label-position="left" label="type">
      <div slot="custom-value" class="d-flex">
        <input
          {% if media.type == 'image' %}checked{% endif %}
          {% if not edit %}disabled{% endif %}
          id="form-type-image"
          name="type"
          value="image"
          type="radio" />
        <label for="form-type-image">Image</label>

        <input
          {% if media.type == 'video' %}checked{% endif %}
          {% if not edit %}disabled{% endif %}
          id="form-type-video"
          name="type"
          value="video"
          type="radio" />
        <label for="form-type-video">Video</label>
      </div>
    </ix-key-value>
  </ix-key-value-list>
{% endblock %}

{% block content %}
  <ix-key-value-list class="d-block rounded-3 p-2">
    <ix-key-value class="fw-bold" orientation="vertical" label-position="left" label="alt text">
      <input
        {% if not edit %}readonly{% endif %}
        name="alt"
        value="{{ media.alt }}"
        slot="custom-value"
        placeholder="Enter an alternative text" />
    </ix-key-value>

    <ix-key-value class="fw-bold" orientation="vertical" label-position="left" label="url">
      <input
        {% if not edit %}readonly{% endif %}
        name="url"
        value="{{ media.url }}"
        slot="custom-value"
        placeholder="Enter the media url" />
    </ix-key-value>
  </ix-key-value-list>
{% endblock %}
