{# delete example with modal
<ix-icon-button id="elements-media-index-delete-{{ loop.index }}">
    Delete
</ix-icon-button>

<script type="module">
import { showMessage } from '/public/assets/@siemens/ix/dist/index.js'

me('#elements-media-index-delete-{{ loop.index }}')
    .on('click', async () => {
        (await showMessage.warning(
            'Are you sure?',
            'This action cannot be undone.',
            'Delete',
            'Cancel',
            "{{ item.id }}",
            'cancel'
        )).once(({payload}) => {
                if (payload === 'cancel' || payload === undefined) return ;

                console.log('delete', payload)
                htmx
                    .ajax('GET', "{{ url_for('media') }}/delete/{{ item.id }}", {target: '#content'})
                    .then(_ => {
                        // delete all the deletes
                    })
            })
    })
</script>
#}
