{
  "printWidth": 96,
  "bracketSameLine": true,
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
