{
  "semi": false,
  "printWidth": 96,
  "singleQuote": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html", "*.webc"],
      "singleAttributePerLine": true,
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
