<section>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th class="ps-2 fs-5" scope="col">id</th>
        <th class="fs-5" scope="col">Resource</th>
        <th class="fs-5" scope="col">Completed</th>
        <th class="fs-5" scope="col">Created</th>
        <th class="fs-5" scope="col">Edit</th>
      </tr>
    </thead>

    <tbody>
      {% for paper in user.papers %}
        <tr>
          <td
            class="ps-2 overflow-hidden text-truncate"
            style="max-width: 7rem;"
          >
            {{ paper.id }}
          </td>

          <td class="ps-2">
            <a href="/admin/resources/{{ paper.resource | url_encode }}"
              >{{ paper.resource }}</a
            >
          </td>

          <td class="ps-2">
            {% if paper.completed %}
              <ix-icon class="ms-2" name="validate" size="16"></ix-icon>
            {% else %}
              <ix-icon class="ms-2" name="error" size="16"></ix-icon>
            {% endif %}
          </td>

          <td class="ps-2">{{ paper.created }}</td>

          <td class="ps-2">
            <a href="#"
              ><ix-icon class="ms-2" name="pen" size="16"></ix-icon
            ></a>
            <a href="#"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

    <tfoot></tfoot>
  </table>
</section>
