{% extends 'shared/layouts/details.html' %}

{% from '/shared/macros.html' import locale_filter %}

{% set entity_id = slide.id %}
{% set entity_name = slide.ref %}
{% set url_base = url_for('resources.slides') %}

{% block meta %}
  <ix-key-value-list class="d-block rounded-3 p-2">
    {% if slide.id %}
      <ix-key-value
        class="fw-bold"
        label-position="left"
        value="{{ slide.id }}"
        label="id">
      </ix-key-value>
    {% endif %}

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="reference">
      <input
        slot="custom-value"
        {% if not edit %}readonly{% endif %}
        name="ref"
        value="{{ slide.ref }}"
        placeholder="Enter slug" />
    </ix-key-value>

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="title">
      <input
        slot="custom-value"
        {% if not edit %}readonly{% endif %}
        name="ref"
        value="{{ slide.title }}"
        placeholder="Enter text" />
    </ix-key-value>
  </ix-key-value-list>
{% endblock %}

{% block content %}
  {% for element in slide.elements %}
    {% set table = element|split(':').0 %}
    <div>
      {#
      {% if not edit %}
      #}
      {% if edit %}
        <div
          style="
            background-color: var(--theme-color-component-1);
            margin-bottom: -0.5rem;
            border-color: var(--theme-color-primary)!important;
            min-width: 170px;
          "
          class="d-flex justify-content-between w-50 mx-auto mt-4 pt-0 text-center border border-bottom-0 rounded-top">
          <div class="ms-3">
            <ix-icon-button
              icon="arrow-down"
              variant="primary"
              ghost></ix-icon-button>
            <ix-icon-button
              icon="arrow-up"
              variant="primary"
              ghost></ix-icon-button>
          </div>

          {#
          {% if loop.last %}
          <div>
            <ix-icon-button icon="question" ghost></ix-icon-button>
            <ix-icon-button icon="text" ghost></ix-icon-button>
            <ix-icon-button icon="image" ghost></ix-icon-button>
          </div>
          {% endif %}
          #}

          <div class="me-3">
            <ix-icon-button
              icon="close"
              variant="danger"
              ghost></ix-icon-button>
          </div>
        </div>
      {% endif %}

      <div
        hx-trigger="load"
        hx-get="/elements/{{ table }}/{{ element }}"
        hx-swap="outerHTML">
        {{ table }}
      </div>
    </div>
  {% endfor %}

  {% if not edit %}
    <script>
      me().run(async (el) => {
        await sleep(500)
        any('fieldset > ix-button:nth-child(1)', el).run((el) => (el.disabled = true))
      })
    </script>
  {% endif %}

  <div class="position-absolute bottom-0 mb-3 ms-2">
    <ix-icon-button
      id="add-element-question"
      size="32"
      icon="question"
      variant="primary"></ix-icon-button>
    <ix-dropdown trigger="add-element-question">
      <ix-dropdown-item
        hx-push-url="true"
        hx-get="{{ url_for('questions') }}/create?type=text"
        hx-target="#content"
        hx-swap="transition:true"
        icon="text"
        label="Text"></ix-dropdown-item>

      <ix-dropdown-item
        hx-push-url="true"
        hx-get="{{ url_for('questions') }}/create?type=range"
        hx-target="#content"
        hx-swap="transition:true"
        icon="document"
        label="Range"></ix-dropdown-item>
    </ix-dropdown>

    <ix-icon-button
      size="32"
      icon="text"
      variant="primary"></ix-icon-button>
    <ix-icon-button
      size="32"
      icon="image"
      variant="primary"></ix-icon-button>
  </div>
{% endblock %}
