{% extends 'shared/layouts/details.html' %}
{% set type = type ? type : question.type %}
{% set entity_id = question.id %}
{% set entity_name = question.ref %}
{% set url_base = url_for('questions') %}

{% block meta %}
  <ix-key-value-list class="d-block rounded-3 p-2">
    {% if question.id %}
      <ix-key-value
        class="fw-bold"
        value="{{ question.id }}"
        label-position="left"
        label="id">
      </ix-key-value>
    {% endif %}

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="reference">
      <input
        slot="custom-value"
        {% if not edit %}readonly{% endif %}
        name="ref"
        value="{{ question.ref }}"
        placeholder="Enter slug" />
    </ix-key-value>

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="type">
      <input
        slot="custom-value"
        readonly
        name="type"
        value="{{ type }}"
        placeholder="Select a type" />
    </ix-key-value>

    <ix-tooltip for="[label=type]:has(~ ix-tooltip)"> Not possible to change </ix-tooltip>
  </ix-key-value-list>
{% endblock %}

{% block content %}
  {% if type == 'text' %}
    {% include 'pages/elements/questions/partials/text.html' %}
    {% elseif type == 'range' %}
    {% include 'pages/elements/questions/partials/range.html' %}
  {% else %}
    <strong>Warning!</strong> This type of question is not supported yet.
  {% endif %}
{% endblock %}
