{% extends 'shared/layouts/main.html' %}

{% block content %}
<style>
div[data-tab-content] {
    display: none;
}

div[data-tab-content].show {
    display: block;
}
</style>

<ix-content-header
    slot="header"
    has-back-button="true"
    header-title="{{ edit ? 'Edit' : 'Show' }}: {{ question.ref }}">

    <script>
        me().on('backButtonClick', _ => {
            let url = "{{ url_for('questions') }}";

            htmx
                .ajax('GET', url, {target: '#content', swap: 'transition:true'})
                .then(_ => history.pushState({}, '', url))
        })
    </script>
</ix-content-header>

<section
    class="card"
    id="elements-questions-details">

    <div class="card-body">
        <form
            hx-push-url="true"
            hx-trigger="submit"
            hx-post="{{ url_for('questions') }}/{{ question.id }}"
            hx-target="#content"
            hx-swap="transition:true"

            {% if edit %}
            action="{{ url_for('questions') }}/{{ question.id }}"
            method="POST"
            {% endif %}
        >
            <input type="hidden" name="_METHOD" value="PATCH" />
            <input type="hidden" name="id" value="{{ question.id }}" />

            <fieldset class="py-2">
                <legend
                    style="border-color: var(--theme-color-primary)! important;"
                    class="text-center border-bottom">
                    Meta
                </legend>

                <ix-key-value-list class="d-block">
                    <ix-key-value
                        class="fw-bold"
                        label-position="left"
                        value="{{ question.id}}"
                        label="id">
                    </ix-key-value>

                    <ix-key-value
                        orientation="vertical"
                        label-position="left"
                        label="reference">
                        <input
                            slot="custom-value"
                            {% if not edit %} readonly {% endif %}
                            name="ref"
                            value="{{ question.ref }}"
                            placeholder="Enter slug" />
                    </ix-key-value>

                    <ix-key-value
                        orientation="vertical"
                        label-position="left"
                        label="type">
                        <input
                            slot="custom-value"
                            readonly
                            name="type"
                            value="{{ question.type }}"
                            placeholder="Select a type" />
                    </ix-key-value>

                    <ix-tooltipfor="ix-key-value[label=type]">
                        Not possible to change
                    </ix-tooltip>
                </ixendif-key-value-list>
            </fieldset>

            <fieldset class="py-2">
                <legend
                    style="border-color: var(--theme-color-primary)! important;"
                    class="text-center border-bottom">
                    Content
                </legend>

                {# content #}
                {% if question.type == 'text' %}
                    {% include 'pages/elements/questions/partials/text.html' %}
                {% elseif question.type == 'range' %}
                    {% include 'pages/elements/questions/partials/range.html' %}
                {% else %}
                    <strong>Warning!</strong> This type of question is not supported yet.
                {% endif %}
            </fieldset>

            <fieldset class="mt-3 d-flex justify-content-end">
                <ix-button
                    hx-push-url="true"
                    hx-trigger="click"
                    {% if edit %}
                    hx-get="{{ url_for('questions') }}/{{ question.id }}"
                    {% else %}
                    hx-get="{{ url_for('questions') }}/{{ question.id }}?edit=true"
                    {% endif %}
                    hx-target="#content"
                    outline>
                    {{ edit ? 'Cancel' : 'Edit' }}
                </ix-button>

                <ix-button
                    {% if not edit %} disabled {% endif %}
                    class="ms-2"
                    type="submit">
                    Submit
                </ix-button>
            </fieldset>
        </form>
    </div>

</section>

<script>
(async function () {
    await window.customElements.whenDefined('ix-tabs');
    const tabs = document.querySelectorAll('ix-tab-item[data-tab-id]');

    function registerClickListener(tab) {
        tab.addEventListener('click', (tabContent) => {
            const contentList = document.querySelectorAll('[data-tab-content]');
            contentList.forEach((content) => {
                if (content.dataset.tabContent === tab.dataset.tabId) {
                    content.classList.add('show');
                    tab.classList.add('active');
                } else content.classList.remove('show');

                if (content.dataset.tabContent !== tab.dataset.tabId) {
                    const tabId = content.dataset.tabContent;
                    const tab = document.querySelector(`ix-tab-item[data-tab-id="${tabId}"]`);
                    tab.classList.remove('active');
                }

            });
        });
    }

    tabs.forEach(registerClickListener);
})();
</script>
{% endblock %}
