{% extends 'shared/layouts/main.html' %}

{% block content %}
<ix-content-header
    slot="header"
    has-back-button="true"
    header-title="Show {{ question.id }}">

    <script>
        me().on('backButtonClick', _ => {
            let url = "{{ url_for('questions') }}";

            htmx
                .ajax('GET', url, {target: '#content', swap: 'transition:true'})
                .then(_ => history.pushState({}, '', url))
        })
    </script>
</ix-content-header>

<section
    style="background-color: var(--theme-color-lightbox);"
    class="card"
    id="examples-questions-show">

    <div class="card-body">
        <ix-layout-grid>
            <ix-row>
                <ix-col size="12" size-md="3" size-lg="4">
                    <ix-typography
                        style="border-color: var(--theme-color-primary)! important;"
                        class="text-center border-bottom"
                        format="display">
                        Info
                    </ix-typography>

                    <div class="mt-2">
                        <ix-kpi
                            orientation="vertical"
                            label="id"
                            value="{{ question.id }}"></ix-kpi>
                        <ix-kpi
                            orientation="vertical"
                            label="ref"
                            value="ref-{{ question.id }}"></ix-kpi>
                        <ix-kpi
                            class="text-capitalize"
                            orientation="vertical"
                            label="type"
                            value="{{ question.type }}"></ix-kpi>

                        {% if question.type == 'range' %}
                        <ix-kpi
                            label="min"
                            value="{{ question.range.min }}"></ix-kpi>
                        <ix-kpi
                            label="max"
                            value="{{ question.range.max }}"></ix-kpi>
                        <ix-kpi
                            label="value"
                            value="{{ question.range.value }}"></ix-kpi>
                        {% endif %}
                    </div>
                </ix-col>

                <ix-col>
                    <ix-typography
                        style="border-color: var(--theme-color-primary)! important;"
                        class="text-center border-bottom"
                        format="display">
                        Content
                    </ix-typography>

                    {% if question.type == 'text' %}
                    {% include 'pages/examples/questions/partials/text.html' %}
                    {% elseif question.type == 'range' %}
                    {% include 'pages/examples/questions/partials/range.html' %}
                    {% endif %}
                </ix-col>
            </ix-row>
        <ix-layout-grid>
    </div>



</section>
{% endblock %}
