---
layout: main.webc
webc:
  components: ../../_includes/components/**/*.webc
---

<section
  id="settings-user-section"
  class="card">
  <div class="card-body">
    <fieldset class="py-2">
      <legend
        style="border-color: var(--theme-color-primary)! important;"
        class="text-center border-bottom">
        Meta
      </legend>

      <ix-key-value-list class="d-block rounded-3 p-2">
        <ix-key-value
          class="fw-bold"
          label-position="left"
          value="{{ cookie.user_id }}"
          label="id"></ix-key-value>

        <ix-key-value
          class="fw-bold"
          label-position="left"
          value="{{ cookie.username }}"
          label="username"></ix-key-value>
      </ix-key-value-list>
    </fieldset>

    <fieldset class="py-2">
      <legend
        style="border-color: var(--theme-color-primary)! important;"
        class="text-center border-bottom">
        Current project
      </legend>

      <ix-key-value-list class="d-block rounded-3 p-2">
        {% set project = cookie.project|json_decode %}
        <ix-key-value
          class="fw-bold"
          label-position="left"
          value="{{ project.id }}"
          label="id"></ix-key-value>

        <ix-key-value
          class="fw-bold"
          label-position="left"
          value="{{ project.name }}"
          label="name"></ix-key-value>

        <ix-key-value
          class="fw-bold"
          label-position="left"
          value="{{ project.center }}"
          label="center"></ix-key-value>
        {% set project = null %}
      </ix-key-value-list>
    </fieldset>

    <fieldset class="py-2">
      <legend
        style="border-color: var(--theme-color-primary)!important;"
        class="text-center border-bottom">
        Auth
      </legend>

      <qa-user-auth></qa-user-auth>
    </fieldset>
  </div>
</section>
