<form
  id="settings-user-form"
  hx-push-url="false"
  hx-trigger="submit"
  hx-post="{{ url_for('settings.user', {id: cookie.user_id}) }}/project"
  hx-target="#settings-user-section"
  hx-swap="outerHTML"
  method="POST"
  action="{{ url_for('settings.user', {id: cookie.user_id}) }}/project"
  onsubmit="
    (async () => {
      await sleep(500); back_arrow(window.location.pathname, false, 'transition:false')
    })()
  ">
  <input
    type="hidden"
    name="_METHOD"
    value="PATCH" />
  <input
    type="hidden"
    name="project"
    value="" />
</form>

<ix-key-value-list class="d-block p-2 rounded-3">
  <ix-key-value
    class="fw-bold"
    label-position="left"
    label="projects">
    <div slot="custom-value">
      {% set current_project = cookie.project|json_decode %}

      <ix-select value="{{ current_project.id }}">
        {% for center in centers %}
          <optgroup label="{{ center.name }}"></optgroup>
          {% for project in center.projects %}
            <ix-select-item
              label="{{ project.name }}"
              value="{{ project.id }}"></ix-select-item>
          {% endfor %}
        {% endfor %}

        <script>
          me().on('valueChange', (evt) => {
            me('input[name="project"]', me('#settings-user-form')).value = evt.detail
          })
        </script>
      </ix-select>

      <button
        class="btn btn-primary mb-1 ms-1"
        type="submit"
        form="settings-user-form">
        Submit
      </button>

      <span class="ms-2 text-warning timedMessage">{{ error }}</span>
      {% set current_project = null %}
    </div>
  </ix-key-value>
</ix-key-value-list>
