<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />

    <link
      href="/public/assets/img/favicon.ico"
      rel="icon" />
    <link
      href="/public/assets/css/style.css"
      rel="stylesheet" />
    <link
      href="/public/assets/css/transition.css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'" />

    <script
      src="/public/assets/@siemens/ix/dist/index.js"
      type="module"
      defer></script>
    <script
      src="/public/assets/bootstrap/dist/js/bootstrap.bundle.min.js"
      type="module"
      defer></script>
    <script
      src="/public/assets/js/main.js"
      type="module"
      defer></script>
    <script
      src="/public/assets/htmx.org/dist/htmx.js"
      defer></script>
    <script
      src="/public/assets/js/utils.js"
      defer></script>
    <script src="/public/assets/js/surreal.js"></script>
  </head>

  <body>
    {% block body %}
      <ix-application>
        {% include 'shared/layouts/partials/header.html' %}
        {% include 'shared/layouts/partials/menu.html' %}
        {% include 'shared/layouts/partials/pane.html' %}

        <ix-content
          class="sample-transition"
          id="content">
          {% block main %}{% endblock %}
        </ix-content>
      </ix-application>
    {% endblock %}
  </body>
</html>
