{% extends 'shared/layouts/main.html' %}

{# optional variables
- header_title: string
- entity_name: string (default: title)
- url_action: string
#}

{# non-optional variables
- edit: boolean
- create: boolean
- url_base: string
- entity_id: string
#}

{# macros recommended
{% from '/shared/macros.html' import locale_filter %}
{{ create ? null : locale_filter(entity, locale, 'text') }}
#}

{% set url_action   = create ? url_base : url_base ~ '/' ~ entity_id %}
{% set entity_name  = entity_name ? entity_name : title %}
{%
  set header_title = header_title
    ? header_title
    : create
      ? 'Create: ' ~ entity_name
      : edit
        ? 'Edit: ' ~ entity_name
        : 'Show: ' ~ entity_name
%}

{% block header %}
  {% if not no_header %}
    <ix-content-header slot="header" header-title="{{ header_title }}" has-back-button="true">
      <script>
        me().on('backButtonClick', (_) => back_arrow('{{ url_base }}'))
      </script>
    </ix-content-header>
  {% endif %}
{% endblock %}

{% block section %}
  {% set uid = gen_uid() %}
  <section class="card" id="details-section-{{ uid }}">
    <div class="card-body">
      {% if edit %}
      <form
        hx-trigger="submit"
        {% if no_header %}
          hx-push-url="false" hx-post="{{ url_action }}?no_header=1"
          hx-target="#details-section-{{ uid }}" hx-swap="outerHTML"
        {% else %}
          hx-push-url="true" hx-post="{{ url_action }}" hx-target="#content"
          hx-swap="transition:true"
        {% endif %}
        action="{{ url_action }}"
        method="POST">
      {% endif %}

        {% if not create %}
          <input type="hidden" name="_METHOD" value="PATCH" />
          <input type="hidden" name="id" value="{{ entity_id }}" />
        {% endif %}

        <fieldset class="py-2">
          <legend
            style="border-color: var(--theme-color-primary)! important;"
            class="text-center border-bottom">
            Meta
          </legend>

          {% block meta %}{% endblock %}
        </fieldset>

        <fieldset class="py-2">
          <legend
            style="border-color: var(--theme-color-primary)! important;"
            class="text-center border-bottom">
            Content
          </legend>

          {% block content %}{% endblock %}
        </fieldset>

        <fieldset class="mt-2 me-2 d-flex justify-content-end">
          {% if not create %}
            <ix-button
              style="box-shadow: var(--theme-shadow-1);"
              hx-trigger="click"
              {% if no_header %}
                hx-push-url="false"
                hx-get="{{ url_action }}?{{ edit ? 'no_header=1' : 'no_header=1&edit=1' }}"
                hx-target="#details-section-{{ uid }}" hx-swap="outerHTML"
              {% else %}
                hx-push-url="true" hx-get="{{ url_action }}?{{ edit ? '' : 'edit=1' }}"
                hx-target="#content" hx-swap="transition:true"
              {% endif %}
              outline>
              {{ edit ? 'Cancel' : 'Edit' }}
            </ix-button>
          {% endif %}

          <ix-button
            style="box-shadow: var(--theme-shadow-1);"
            class="ms-2"
            {% if not edit %}disabled{% endif %}
            type="submit">
            Submit
          </ix-button>
        </fieldset>

      {% if edit %}
      </form>
      {% endif %}
    </div>
  </section>
  {% set uid = null %}
{% endblock %}
