{% from '/shared/macros.html' import locale_filter %}
{% set content = question.content %}

<ix-layout-grid gap="8">
  <ix-row>
    <ix-col size="3">
      <ix-key-value-list class="d-block rounded-3 p-2">
        <ix-key-value class="fw-bold" label-position="left" label="max">
          <input
            {% if not edit %}readonly{% endif %}
            slot="custom-value"
            name="content[range][max]"
            value="{{ content.range.max }}"
            placeholder="Enter a number" />
        </ix-key-value>

        <ix-key-value class="fw-bold" label-position="left" label="min">
          <input
            {% if not edit %}readonly{% endif %}
            slot="custom-value"
            name="content[range][min]"
            value="{{ content.range.min }}"
            placeholder="Enter a number" />
        </ix-key-value>

        <ix-key-value class="fw-bold" label-position="left" label="value">
          <input
            {% if not edit %}readonly{% endif %}
            slot="custom-value"
            name="content[range][value]"
            value="{{ content.range.value }}"
            placeholder="Enter a number" />
        </ix-key-value>
      </ix-key-value-list>
    </ix-col>

    <ix-col>
      <div class="rounded-3">
        <ix-tabs class="rounded-top rounded-top-3">
          <ix-tab-item class="tab-active" data-tab-id="en">En</ix-tab-item>
          <ix-tab-item data-tab-id="es">Es</ix-tab-item>
          <ix-tab-item data-tab-id="ca">Vl</ix-tab-item>
        </ix-tabs>

        {% for locale in [ "en", "es", "ca"] %}
          {% set number = loop.index0 %}
          <div
            class="p-2 rounded-bottom {{ number == 0 ? 'show' : '' }}"
            data-tab-content="{{ locale }}">
            <input
              type="hidden"
              name="content[questions][{{ number }}][locale]"
              value="{{ locale }}" />

            <ix-key-value class="fw-bold border-0" orientation="vertical" label="Content">
              <textarea
                {% if not edit %}readonly{% endif %}
                name="content[questions][{{ number }}][question]"
                placeholder="Enter text"
                slot="custom-value">
{{ create ? null : locale_filter(content.questions, locale, 'question')|trim }}</textarea
              >
            </ix-key-value>

            {% if not create %}
              {# TODO: don't know why I can't use locale_filter #}
              {%
                set spelled =
                content.questions
                  |filter(c => c.locale == locale)
                  |column('spelled')[0]
              %}
              <div class="d-flex justify-content-center">
                {% for i in content.range.min..content.range.max %}
                  <ix-key-value
                    class="mx-1 fw-bold border-0"
                    orientation="vertical"
                    label="{{ loop.index }}">
                    <input
                      {% if not edit %}readonly{% endif %}
                      slot="custom-value"
                      name="content[questions][{{ number }}][spelled][]"
                      value="{{ spelled[loop.index0] }}"
                      placeholder="Enter text" />
                  </ix-key-value>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% set number = null %}
        {% endfor %}

        <script>
          me().run((el) =>
            typeof tabs_content === 'function'
              ? tabs_content(el)
              : onloadAdd((_) => tabs_content(el)),
          )
        </script>
      </div>
    </ix-col>
  </ix-row>
</ix-layout-grid>
