{% set content = question.content %}
<ix-key-value-list class="d-block">
    <ix-key-value
        class="fw-bold"
        label-position="left"
        label="max">
        <input
            slot="custom-value"
            {% if not edit %} readonly {% endif %}
            name="content[text][max]"
            value="{{ content.text.max }}"
            placeholder="Enter a number" />
    </ix-key-value>

    <ix-key-value
        class="fw-bold"
        label-position="left"
        label="min">
        <input
            slot="custom-value"
            {% if not edit %} readonly {% endif %}
            name="content[text][min]"
            value="{{ content.text.min }}"
            placeholder="Enter a number" />
    </ix-key-value>
</ix-key-value-list>

<div style="box-shadow: var(--theme-shadow-1);" class="mt-2 rounded-3">
    <ix-tabs
        style="background-color: var(--theme-color-component-1); "
        class="rounded-top rounded-top-3">

        <ix-tab-item class="text-capitalize" data-tab-id="en">en</ix-tab-item>
        <ix-tab-item class="text-capitalize" data-tab-id="es">es</ix-tab-item>
        <ix-tab-item class="text-capitalize" data-tab-id="ca">vl</ix-tab-item>
    </ix-tabs>

    {% for locale in [ "en", "es", "ca"] %}
    {% set number = loop.index0 %}
    <div
        style="background-color: var(--theme-color-component-2);"
        class="p-2 rounded-bottom {{ number == 0 ? 'show' : '' }}"
        data-tab-content="{{ locale }}">

        <input
            type="hidden"
            name="content[questions][{{ number }}][locale]"
            value="{{ locale }}" />

        <ix-key-value
            class="border-0"
            orientation="vertical"
            label="Content">
            <textarea
                {% if not edit %} readonly {% endif %}
                name="content[questions][{{ number }}][question]"
                placeholder="Enter text"
                slot="custom-value">{{ content.questions[number].question }}</textarea>
        </ix-key-value>
    </div>
    {% set number = null %}
    {% endfor %}
</div>
{% set content = null %}
