{% extends 'shared/layouts/details.html' %}

{% from '/shared/macros.html' import locale_filter %}

{% set entity_id = paragraph.id %}
{% set entity_name = paragraph.ref %}
{% set url_base = url_for('paragraphs') %}

{% block meta %}
  <ix-key-value-list class="d-block rounded-3 p-2">
    {% if paragraph.id %}
      <ix-key-value class="fw-bold" label-position="left" value="{{ paragraph.id }}" label="id">
      </ix-key-value>
    {% endif %}

    <ix-key-value
      class="fw-bold"
      orientation="vertical"
      label-position="left"
      label="reference">
      <input
        slot="custom-value"
        {% if not edit %}readonly{% endif %}
        name="ref"
        value="{{ paragraph.ref }}"
        placeholder="Enter slug" />
    </ix-key-value>

    <ix-key-value class="fw-bold" orientation="vertical" label-position="left" label="type">
      <div slot="custom-value" class="d-flex">
        <input
          {% if paragraph.type == 'text' %}checked{% endif %}
          {% if not edit %}disabled{% endif %}
          id="form-type-text"
          name="type"
          value="text"
          type="radio" />
        <label for="form-type-text">text</label>

        <input
          {% if paragraph.type == 'h2' %}checked{% endif %}
          {% if not edit %}disabled{% endif %}
          id="form-type-h2"
          name="type"
          value="h2"
          type="radio" />
        <label for="form-type-h2">h2</label>

        <input
          {% if paragraph.type == 'h3' %}checked{% endif %}
          {% if not edit %}disabled{% endif %}
          id="form-type-h3"
          name="type"
          value="h3"
          type="radio" />
        <label for="form-type-h3">h3</label>
      </div>
    </ix-key-value>
  </ix-key-value-list>
{% endblock %}

{% block content %}
  <div class="mt-2 rounded-3">
    <ix-tabs class="rounded-top rounded-top-3">
      <ix-tab-item class="tab-active" data-tab-id="en">En</ix-tab-item>
      <ix-tab-item data-tab-id="es">Es</ix-tab-item>
      <ix-tab-item data-tab-id="ca">Vl</ix-tab-item>
    </ix-tabs>

    {% for locale in [ "en", "es", "ca"] %}
      {% set number = loop.index0 %}
      <div
        class="p-2 rounded-bottom {{ loop.first ? 'show' : '' }}"
        data-tab-content="{{ locale }}">
        <input type="hidden" name="content[{{ number }}][locale]" value="{{ locale }}" />

        <ix-key-value class="fw-bold border-0" orientation="vertical" label="Content">
          <textarea
            {% if not edit %}readonly{% endif %}
            name="content[{{ number }}][text]"
            placeholder="Enter text"
            slot="custom-value">
{{ create ? null : locale_filter(paragraph.content, locale, 'text')|trim }}</textarea
          >
        </ix-key-value>
      </div>
      {% set number = null %}
    {% endfor %}

    <script>
      me().run((el) =>
        typeof tabs_content === 'function'
          ? tabs_content(el)
          : onloadAdd((_) => tabs_content(el)),
      )
    </script>
  </div>
{% endblock %}
