{% extends 'shared/layouts/main.html' %}

{% block content %}
<ix-content-header
    slot="header"
    has-back-button="false"
    header-title="Paragraphs">

    <ix-button
        hx-push-url="true"
        hx-get="{{ url_for('paragraphs') }}/create"
        hx-target="#content"
        hx-swap="transition:true">
        Create
    </ix-button>
</ix-content-header>

<section
    class="card"
    id="elements-paragraphs-index">

    <div class="card-body">
        {% for paragraph in paragraphs %}
        <ix-content-header
            hx-push-url="true"

            style="border-color: var(--theme-color-primary)! important;"
            class="mb-2 border-bottom align-items-end"

            header-title="{{ paragraph.ref }}"
            header-subtitle="{{ paragraph.content[0].text }}"
            variant="secondary">
            <ix-icon-button
                hx-get="{{ url_for('paragraphs') }}/{{ paragraph.id }}"
                hx-target="#content"
                hx-swap="transition:true"

                class="d-none d-md-inline-block"
                icon="eye"
                variant=""
                ghost>
                Show
            </ix-icon-button>

            <ix-icon-button
                hx-get="{{ url_for('paragraphs') }}/{{ paragraph.id }}?edit=true"
                hx-target="#content"
                hx-swap="transition:true"

                class="d-none d-md-inline-block"
                icon="pen"
                variant=""
                ghost>
                Edit
            </ix-icon-button>

            <ix-icon-button
                hx-push-url="false"
                hx-confirm="Are you sure? This action cannot be undone."
                hx-post="{{ url_for('paragraphs') }}/delete/{{ paragraph.id }}"
                hx-target="#content"
                hx-swap="transition:true"

                class="d-none d-md-inline-block"
                icon="trashcan"
                ghost>
                Delete
            </ix-icon-button>

            <ix-icon-button
                id="elements-paragraphs-index-options-{{ loop.index }}"
                class="d-inline-block d-md-none"
                icon="context-menu"
                ghost>
                Options
            </ix-icon-button>

            <ix-dropdown trigger="elements-paragraphs-index-options-{{ loop.index }}">
                <ix-dropdown-item
                    hx-get="{{ url_for('paragraphs') }}/{{ paragraph.id }}"
                    hx-target="#content"
                    hx-swap="transition:true"

                    icon="eye"
                    label="Show">
                </ix-dropdown-item>

                <ix-dropdown-item
                    hx-get="{{ url_for('paragraphs') }}/{{ paragraph.id }}?edit=true"
                    hx-target="#content"
                    hx-swap="transition:true"

                    icon="pen"
                    label="Edit">
                </ix-dropdown-item>

                <ix-dropdown-item
                    hx-push-url="false"
                    hx-confirm="Are you sure? This action cannot be undone."
                    hx-post="{{ url_for('paragraphs') }}/delete/{{ paragraph.id }}"
                    hx-target="#content"
                    hx-swap="transition:true"

                    icon="trashcan"
                    label="Delete">
                </ix-dropdown-item>
            </ix-dropdown>

            <script>
                me().run(el => {
                    const paragraphs = {{ paragraph.content|json_encode|raw }};
                    const lang = navigator.language.split('-')[0];

                    for (let paragraph of paragraphs) {
                        if (paragraph.locale === lang) {
                            if (paragraph.text.length > 60)
                                 el.headerSubtitle = paragraph.text.substring(0, 60) + '...'
                            else el.headerSubtitle = paragraph.text
                        }
                    }
                })
            </script>
        </ix-content-header>
        {% endfor %}
    </div>

</section>
{% endblock %}
