{% extends 'shared/layouts/main.html' %}

{% block content %}
<style>
    div[data-tab-content] {
        display: none;
    }

    div[data-tab-content].show {
        display: block;
    }
</style>

<ix-content-header
    slot="header"
    has-back-button="true"
    header-title="Show: {{ paragraph.ref }}">

    <script>
        me().on('backButtonClick', _ => {
            let url = "{{ url_for('paragraphs') }}";

            htmx
                .ajax('GET', url, {target: '#content', swap: 'transition:true'})
                .then(_ => history.pushState({}, '', url))
        })
    </script>
</ix-content-header>

<section
    style="background-color: var(--theme-color-lightbox);"
    class="card"
    id="elements-paragraphs-create">

    <div class="card-body">
        <ix-typography
            style="border-color: var(--theme-color-primary)! important;"
            class="text-center border-bottom"
            format="display">
            Meta
        </ix-typography>

        <div class="my-2">
            <!-- <ix-key-value orientation="vertical" value="{{ paragraph.ref }}" label="reference"></ix-key-value> -->
            <ix-key-value-list>
                <ix-key-value
                    class="fw-bold"
                    value="{{ paragraph.id}}"
                    label-position="left"
                    label="id">
                </ix-key-value>

                <ix-key-value
                    orientation="vertical"
                    label-position="left"
                    label="reference">
                    <input class="" name="ref" value="{{ paragraph.ref }}" readonly slot="custom-value" placeholder="Enter slug" />
                </ix-key-value>

                <ix-key-value
                    orientation="vertical"
                    label-position="left"
                    label="type">
                    <input class="" name="ref" value="{{ paragraph.type }}" readonly slot="custom-value" placeholder="Enter slug" />
                </ix-key-value>
            </ix-key-value-list>
        </div>

        <ix-typography
            style="border-color: var(--theme-color-primary)! important;"
            class="text-center border-bottom"
            format="display">
            Content
        </ix-typography>

        <div style="box-shadow: var(--theme-shadow-1);" class="mt-2 rounded-3">
            <ix-tabs
                style="background-color: var(--theme-color-component-1); "
                class="rounded-top rounded-top-3">

                <ix-tab-item class="text-capitalize" data-tab-id="es">es</ix-tab-item>
                <ix-tab-item class="text-capitalize" data-tab-id="en">en</ix-tab-item>
                <ix-tab-item class="text-capitalize" data-tab-id="vl">vl</ix-tab-item>
            </ix-tabs>

            {% for content in paragraph.content%}
            <div
                style="background-color: var(--theme-color-component-2);"
                class="p-2 rounded-bottom {{ loop.first ? 'show' : '' }}"
                data-tab-content="{{ content.locale }}">

                <ix-key-value
                    class="border-0"
                    orientation="vertical"
                    label="Content">
                    <textarea
                        readonly
                        name="content[{{ content.locale }}]"
                        placeholder="Enter text"
                        slot="custom-value">{{ content.text }}</textarea>
                </ix-key-value>
            </div>
            {% endfor %}

            {#
            <div
                style="background-color: var(--theme-color-component-2);"
                class="p-2 rounded-bottom"
                data-tab-content="en">
                <ix-key-value
                    class="border-0"
                    orientation="vertical"
                    label="Content">
                    <textarea
                        readonly
                        name="content[en]"
                        placeholder="Enter text"
                        slot="custom-value"></textarea>
                </ix-key-value>
            </div>

            <div
                style="background-color: var(--theme-color-component-2);"
                class="p-2 rounded-bottom"
                data-tab-content="vl">
                <ix-key-value
                    class="border-0"
                    orientation="vertical"
                    label="Content">
                    <textarea
                        readonly
                        name="content[vl]"
                        placeholder="Enter text"
                        slot="custom-value"></textarea>
                </ix-key-value>
            </div>
            #}
        </div>

    </div>
</section>

<script>
(async function () {
    await window.customElements.whenDefined('ix-tabs');
    const tabs = document.querySelectorAll('ix-tab-item[data-tab-id]');

    function registerClickListener(tab) {
        tab.addEventListener('click', (tabContent) => {
            const contentList = document.querySelectorAll('[data-tab-content]');
            contentList.forEach((content) => {
                if (content.dataset.tabContent === tab.dataset.tabId) {
                    content.classList.add('show');
                    tab.classList.add('active');
                } else {
                    content.classList.remove('show');
                }

                if (content.dataset.tabContent !== tab.dataset.tabId) {
                    const tabId = content.dataset.tabContent;
                    const tab = document.querySelector(`ix-tab-item[data-tab-id="${tabId}"]`);
                    tab.classList.remove('active');
                }

            });
        });
    }

    tabs.forEach(registerClickListener);
})();
</script>
{% endblock %}
